* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h5, h6 {
	font-weight: 100;
}

header {
	width: 100vw;
	height: 15vh;
	background-color: darkgreen;
}

section {
	width: 100vw;
	height: 85vh;
	background-color: beige;
}

.container {
	width: 80%;
	height: 90%;
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	z-index: 100;
	background-color: white;
	display: flex;
}

.left-cont {
	width: 30%;
	height: 100%;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	border-right: 1px solid grey;
}

.right-cont {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.user {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user > .header:hover {
  cursor: pointer;
  opacity: 0.5;
}

.text-cont > p {
  opacity: 0.5;
}

.wrapper {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: url("img/msg-background.jpg");
  overflow: auto;
}

.active {
  display: flex;
}

.header {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aliceblue;
  border-bottom: 1px solid grey;
}

.text-send {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 9%;
	background-color: aliceblue;
}

.disclaimer {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: aqua;
}

.search {
	width: 100%;
	height: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: aliceblue;
	border-bottom: 1px solid grey;
}

.img-cont, .icons-cont {
	height: 80%;
	padding: 5px;
}

.icons-cont {
	display: flex;
	align-items: center;
}

.icons-cont > i {
	padding-right: 10px;
	color: grey;
}

.img-cont > img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.text-cont {
	min-width: 70%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bel-cont {
	max-width: 17%;
	max-height: 80%;
	background-color: white;
	color: aqua;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-cont > h6 {
	text-decoration-line: underline;
}

.clock-cont {
	height: 80%;
  font-size: 10px;
  padding-right: 2px;
}

.message-cont-send {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	margin-top: 20px;
  height: auto;
  position: relative;
}

.message-cont-received {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
	margin-top: 20px;
  height: auto;
  position: relative;
}

.wrapper-rec {
	width: 50%;
  height: auto;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.wrapper-send {
	width: 40%;
  height: auto;
	background-color: rgb(175, 236, 175);
	border-radius: 5px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.wrapper span {
	font-size: 10px;
  align-self: flex-end;
}

.text-square {
	width: 60%;
}

#text-box {
	width: 100%;
}

#search {
  width: 90%;
}

.hidden {
  display: none;
}

.height {
  height: auto;
}

.drop {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 50px;
  text-align: center;
  display: none;
}

.drop:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media all and (max-width: 1200px) {

  h4, h6, h5, p, .fas, .fa-bell-slash {
    font-size: 9px;
  }

  .wrapper span, .clock-cont {
  	font-size: 4px;
  }

  .disclaimer, .text-cont > p {
    display: none;
  }
}
